.everything-cont {
  display: flex;
}

h1 {
  text-align: center;
}
.header {
  justify-content: center;
}

#options {
  margin: auto;
  width: 50%;
  background-color: #F8E;
  padding: 2em;
  border-radius: 1em;
  line-height: 1.5em;
}

#options input {
  float: right;
}

.centered {
  text-align: center;
}

#options .submit {
  margin-top: 1em;
  padding: 0.5em;
  float:none;
  font-size: 2em;
  background-color: #9988ff;
  border: 0px;
  border-radius: 15px;
  border-bottom: 5px solid #6d55ff;
}

#options .submit:active {
  border-bottom: 0px solid #fff;
  border-top: 2px solid #6d55ff;
  background-color: #836fff;
  color: #444;
}

.features-cont {
  flex-grow: 1;
}

#result {
  margin-top: 2em;
  line-height: 1em;
  font-size: 1em;
  font-family: monospace;
  text-align: center;
}

#pasta {
  background-color: #F8E7DF;
  padding: 2%;
  width: 30%;
  font-size: 1.5em;
}

#pasta h1:hover {
  color: #4466ff;
}

.pasta-open {
}

.pasta-closed {
}